<div class="container">
  <h1 class="text-center mb-4"><%= @outfit.name.capitalize %></h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div id="carousel-outfit" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% if @outfit.photos.attached? %>

          <% @outfit.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag(photo.key, class: "d-block card-img-top") %>
          </div>
          <% end %>

          <% else %>
          <div class="carousel-item active">
            <%= image_tag('picture1.jpg', class: "d-block w-100 card-img-top") %>
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carousel-outfit" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-outfit" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="outfit-info">
        <ul class="info-list-out">
          <li><i class="fas fa-palette"></i> <%= @outfit.category.capitalize %></li>
          <li><i class="fas fa-pencil-ruler"></i> <%= @outfit.size %> (size)</li>
          <li><i class="fas fa-euro-sign"></i> <%= @outfit.price %></li>
        </ul>
        <p> <%= @outfit.description %></p>
         <% if @average %>
        <span><strong>Rating</strong>: <% @average.times do %>
          <i class="fas fa-star gold"></i>
          <% end %>
        </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12 col-md-6">
      <!-- Booking -->
      <div class="booking form-header">
        <h4><strong class="text-center">Book for <%= @outfit.name.capitalize %> </strong></h4>
        <%= render 'bookings/form', outfit: @outfit, booking: @booking %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <!-- Map -->
      <div class="map-container">
        <div id="map" class="map-small"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>

<!-- Review cards -->

<div class="reviews mt-4">
  <h3 class="text-center"><strong>Reviews</strong></h3>
  <div class="review-box d-flex justify-content-center mt-4 mr-3">
    <% @outfit.reviews.each do |review| %>
    <div class="card-product-rew d-flex mr-4">
      <%= image_tag('dress 4.jpg', class: "img-rev") %>
      <div class="card-product-infos-rev">
        <h2> <strong><%= review.user.full_name %></strong> </h2>
        <p> <%= review.content %> </p>
        <span><% review.rating.times do %>
          <i class="fas fa-star gold"></i>
          <% end %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
