<div class="container-fluid">

  <h1>Welcome <%= @user.first_name %></h1>

  <h2>Outfits</h2>

  <div class="card-container">
    <% @user.outfits.each do |outfit| %>
      <div class="card" style="">
        <%= image_tag('banner_image.jpg', class: 'card-img-top rounded-top') %>
        <%#= cl_image_tag(outfit.photo.key, class: 'card-img-top rounded-top') %>
        <div class="card-body">
          <h4 class="card-title"><%= outfit.name.capitalize %></h4>
          <%= link_to outfit do %>
            <i class="far fa-eye"></i>
          <% end %>
          <%= link_to edit_outfit_path(outfit) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to  outfit_path(outfit),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="review form-header">
          <h4>Reviews</h4>
          <h4></i> <strong>Add review for  </strong></h4>
          <ul class="list-group">
            <% @user.reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <span><%= review.content %></span> <br>

                <span><strong>Rating</strong>: <% review.rating.times do %>
                      <i class="fas fa-star gold"></i>
                      <% end %>
                </span>

              </div>
              <div class="grey">
                <%= link_to review_path(review),
                method: :delete,
                data: { confirm: 'Are you sure?' } do%>
                <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div>




        </div>
  </div>

  </div>
</div> -->

<h2>Booking</h2>
<div class="d-flex flex-wrap justify-content-center">
  <% @user.bookings.each do |booking| %>
    <%= booking %>
    <%= render 'reviews/form', outfit: booking.outfit, review: Review.new %>
  <% end %>
</div>

