<div class="container-fluid">
  <h1 class="headline"> Welcome
    <%= @user.first_name %>
  </h1>
  <!-- Tab links -->
  <div class="tabs-underlined">
    <button id="tab-outfits" class="tablinks" onclick="openTab(event, 'Outfits')">Outfits</button>
    <button id="tab-bookings" class="tablinks" onclick="openTab(event, 'Bookings')">Bookings</button>
  </div>
  <!-- Tab content -->
  <div id="Outfits" class="tabcontent-initial tabcontent">
    <div class="card-container">
      <% @user.outfits.each do |outfit| %>
      <div class="card">
        <% if outfit.photos.attached? %>
        <%= cl_image_tag(outfit.photos[0].key, class: 'card-img-top') %>
        <% else %>
        <%= image_tag('banner_image.jpg', class: 'card-img-top') %>
        <% end %>
        <%#= image_tag('banner_image.jpg', class: 'card-img-top rounded-top') %>
        <%#= outfit.photos %>
        <%#= cl_image_tag(outfit.photo.key, class: 'card-img-top rounded-top') %>
        <div class="card-body">
          <h4 class="card-title padding-title">
            <%= outfit.name.capitalize %>
          </h4>
          <div class="card-links">
            <%= link_to outfit do %>
            <i class="far fa-eye link-icon"></i>
            <% end %>
            <%= link_to edit_outfit_path(outfit) do %>
            <i class="fas fa-pencil-alt link-icon"></i>
            <% end %>
            <%= link_to  outfit_path(outfit),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash link-icon"></i>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="Bookings" class="tabcontent">
    <div class="card-container">
      <% @user.bookings.each do |booking| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <% if booking.outfit.photos.attached? %>
              <%= cl_image_tag(booking.outfit.photos[0].key, class: 'card-img-top') %>
            <% else %>
              <%= image_tag('banner_image.jpg', class: 'card-img-top') %>
            <% end %>
            <div class="outfit-link">
              <%= booking.outfit.name.capitalize %>
              <%= link_to outfit_path(booking.outfit) do %>
              <i class="far fa-eye link-icon-rosa"></i>
              <% end %>
            </div>
          </h5>
          <p class="card-text adress-row">
            <%= booking.address %>
          </p>
          <div class="date-row">
            <p class="card-text">
              <%= booking.start_date %>
            </p>
            <p class="card-text"> -
              <%= booking.end_date %>
            </p>
          </div>
          <div class="btn-row">
            <%= link_to "Add a Review", new_outfit_review_path(booking.outfit), class: 'btn' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
