<!-- banner section -->
<div class="banner d-flex flex-column align-items-center">
  <div class="logo-banner-image">
    <img src="../assets/logo_banner_image.png">
  </div>

  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- container section -->
<!-- set width in container -->

<h2 id="text-center mb-4">CATEGORIES</h2>
<div class="container-categories">
  <div class="categories d-flex flex-row flex-wrap justify-content-flex-start">
    <div class="d-flex flex-column mb-4 mb-md-4">
      <%= link_to outfits_path(:category => "gala"), id: "category-title" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'picture1.jpeg' %>);">
       GALA
      </div>
      <% end %>
    </div>

     <div class="d-flex flex-column mb-4 mb-md-4">
      <%= link_to outfits_path(:category => "christmas"), id: "category-title" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'picture2.jpeg' %>);">
       CHRISTMAS
      </div>
      <% end %>
    </div>

    <div class="d-flex flex-column mb-4 mb-md-4">
      <%= link_to outfits_path(:category => "new year"), id: "category-title" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'picture3.jpeg' %>);">
       NEW YEAR
      </div>
      <% end %>
    </div>

    <div class="d-flex flex-column mb-4 mb-md-4">
      <%= link_to outfits_path(:category => "halloween"), id: "category-title" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'picture4.jpeg' %>);">
       HALLOWEEN
      </div>
      <% end %>
    </div>

    <div class="d-flex flex-column mb-4 mb-md-4">
      <%= link_to outfits_path(:category => "carnaval"), id: "category-title" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'picture5.jpeg' %>);">
       CARNAVAL
      </div>
      <% end %>
    </div>

    <div class="d-flex flex-column mb-4 mb-md-4">
      <%= link_to outfits_path(:category => "wedding"), id: "category-title" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'wedd.jpeg' %>);">
       WEDDING
      </div>
      <% end %>
    </div>

    <h2 id="text-center mb-4">RECENT BOOKED</h2>
    <div class="d-flex flex-wrap">
      <% @recent_bookings.each_with_index do |booking, index| %>
      <%= link_to outfit_path(:id => booking[:outfit_id]) do %>
      <div class="card-trip">
        <% if @outfits[index].photos.attached? %>
          <%= cl_image_tag @outfits[index].photos[0].key, class: 'card-img-top rounded-top' %>
        <% else %>
          <%= image_tag('banner_image.jpg', class: 'card-img-top') %>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

